.main-nav {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.fa-cog {
  padding: 5px 5px;
  font-size: 1.5em;
  margin: 0 5px;
  color: $dark-gray;
}

.fa-cog:hover {
  color: $gray;
}

.fa-cog:active {
  color: $dark-gray;
}

.left-nav > ul > li {
  display: inline-block;
  padding: 10px;
  height: 100%;
}
.left-nav li:last-child {
  margin: 0 30px;
}

.right-nav > ul > li {

}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover {
  background-color: $lightest-gray;
  border-radius: 5px;
}

.left-nav span {
  text-transform: uppercase;
  margin-left: 10px;
}


.right-nav i {

}