<div class="masthead">
  <div class="language-nav">
    <span>
      <a href="#">css</a>
      <a href="#">html</a>
      <a href="#">javascript</a>
      <a href="#">ruby</a>
    </span>
  </div>

  <span class="logo"><%= image_tag 'AA_Times_Logo.png' %></span>


  <ul class="masthead-links">
    <li><button><%= Date.today.strftime('%A, %B %e, %Y') %></button></li>
    <li><a href="#"><i class="far fa-newspaper"></i>Today’s Paper</a></li>
    <li><a href="#"><i class="fas fa-video"></i>Video</a></li>
    <li><button>77°F</button></li>
    <li style="border-right: none;"><button>AAO <span style="color: red">-92%</span></button></li>
  </ul>

</div>